body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h2{
  color: #66BFBF;
}
h3{
  color: #11999E;


}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.top-container{
  position: relative;
  text-align: center;
  background-color: #C8E3D4;
  padding-top: 100px;
}
.main-name{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #66BFBF;

}
.main-para{
  margin-top: 0;
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.top-cloud{
position: absolute;
top: 30px;
right:300px;
}
.bottom-cloud{
position: absolute;
left: 300px;
}
.my-image{
  margin-top: 30px;
  height: 200px;
}
.intro{
  width: 40%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;

  text-align: left;

}
.half-width{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.right-shift{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-me{
    width: 40%;
    margin: auto;
    margin-bottom: 30px;

}
.touch-in{
  margin-top: 30px;
}
.contact-description{
  margin-block-end: 35px;
margin-block-start: 35px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, 11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, 11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, 11999e);
  background-image: -o-linear-gradient(top, #11cdd4, 11999e);
  background-image: linear-gradient(to bottom, #11cdd4, 11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 10px 0;
}
.margin-bottom{
  margin-bottom: 0;
  font-size: 0.75rem;
  color: #EAF6F6;
  }
